* {
   -fx-primary: #2D327D;
   -fx-primaryHover: #191964;
   -fx-primary-half: #D5D6E5;
   -fx-text-1: #000000;
   -fx-text-2: #FFFFFF;
   -fx-secondary: #CCCCCC;
   -fx-secondaryHover: #BDBDBD;
   -fx-bg-1: #FFFFFF;
   -fx-bg-2: #E5E5E5;
   -fx-bg-3: #CCCCCC;
   -fx-contrast: #8D8D8D;
   -fx-contrastHover: #686868;
   -fx-textHover: -fx-bg-2;
   -fx-red: #A20013;
}

.root{
    -fx-font-size: 18pt;
    -fx-font-family: "helvetica new";
}

.text-field {
-fx-background-color: -fx-bg-1;
-fx-background-radius: 0;
-fx-border-color: -fx-contrast;
-fx-border-width: 3px;
-fx-font-size: 22px;
}

.text-field:hover {
-fx-background-color: -fx-textHover;
-fx-background-radius: 0;
-fx-border-color: -fx-contrastHover;
-fx-border-width: 3px;
}

.text-map{
	-fx-font-size: 30px;
}

.background {
	-fx-background-color: -fx-bg-1;
}

.btn-primary {
	-fx-background-color: -fx-primary;
	-fx-font-size: 25px;
	-fx-font-weight: bold;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
}

.btn-primary:hover {
	-fx-background-color: -fx-primaryHover;
	-fx-font-size: 25px;
	-fx-font-weight: bold;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
}

.btn-secondary {
	-fx-background-color: -fx-secondary;
	-fx-font-size: 25px;
    -fx-fill: -fx-text-1;
	-fx-background-radius: 0;
}

.btn-secondary:hover {
	-fx-background-color: -fx-secondaryHover;
	-fx-font-size: 25px;
    -fx-fill: -fx-text-1;
	-fx-background-radius: 0;
}

.btn-language-false {
	-fx-background-color: -fx-bg-1;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
    -fx-text-fill: -fx-primary;
    -fx-background-radius: 0;
    -fx-border-color:-fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.btn-language-false:hover{
	-fx-background-color: -fx-primary-half;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
    -fx-text-fill: -fx-primary;
    -fx-background-radius: 0;
    -fx-border-color:-fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.btn-language-true {
	-fx-background-color: -fx-primary;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-border-color:-fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.btn-language-true:hover {
	-fx-background-color: -fx-primary;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.btn-currency-false {
	-fx-background-color: -fx-bg-1;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-primary;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary;
    -fx-border-width: 2;
    -fx-border-insets: 0px;
    
}

.btn-currency-false:hover{
	-fx-background-color: -fx-primary-half;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-primary;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary;
    -fx-border-width: 3;
    -fx-border-insets: 0px;
}

.btn-currency-true {
	-fx-background-color: -fx-primary;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.btn-currency-true:hover {
	-fx-background-color: -fx-primary;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.dialog-pane .button {
	-fx-background-color: -fx-primary;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
}

.btn-maps {
	-fx-background-color: -fx-secondary;
	-fx-font-size: 25px;
    -fx-background-radius: 0;
}

.btn-maps:hover {
	-fx-background-color: -fx-secondaryHover;
	-fx-font-size: 25px;
    -fx-background-radius: 0;
}

.dialog-grid {

}

.dialog-title {
	-fx-font-size: 15px;
}

.dialog-pane {
    -fx-background-color: -fx-bg-1;
}

.dialog-pane .label {
    -fx-text-fill: -fx-text-1;
    -fx-font-size: 18px;
}

.dialog-pane:header .header-panel {
    -fx-background-color: -fx-text-2;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 35px;
}

.dialog-text {
	-fx-font-size: 18px;
}

.menutile {
	-fx-background-color: -fx-secondary;
	-fx-background-radius: 0;
}

.menutile:hover {
	-fx-background-color: -fx-secondaryHover;
	-fx-background-radius: 0;
}

.menutile-language {
	-fx-background-color: -fx-bg-1;
	-fx-background-radius: 0;
}

.menutile-exit {
	-fx-background-color: -fx-secondary;
	-fx-background-radius: 0;
	-fx-text-fill: -fx-red;
}

.menutile-exit:hover {
	-fx-background-color: -fx-red;
	-fx-background-radius: 0;
	-fx-text-fill: -fx-text-2;
}

.menutitle {
	-fx-background-color: -fx-bg-1;
	-fx-background-radius: 0;
	-fx-font-size: 40px;
}

.radio-button .radio{
-fx-border-width     : 3px   ;
-fx-border-color     : -fx-contrast;
-fx-background-color : -fx-bg-1 ;
-fx-background-image : null  ;
-fx-border-radius    : 15px  ;
-fx-padding			 : 5px	 ;
}

.radio-button .dot {
  -fx-mark-highlight-color: -fx-primary ;
  -fx-mark-color: -fx-primary ;
}

.radio-button .radio:selected{
-fx-background-color : -fx-bg-1 ;
-fx-background-image : null  ;
}

.radio-button -radio:armed{
-fx-background-color : -fx-bg-1 ;
-fx-background-image : null  ;
}

.radio-button -radio:determinate{
-fx-background-color : -fx-bg-1 ;
-fx-background-image : null  ;
}

.dialog-btn-secondary {
	-fx-background-color: -fx-secondary;
	-fx-font-size: 20px;
    -fx-fill: -fx-text-1;
	-fx-background-radius: 0;
}

.radio-button -radio:indeterminate{
-fx-background-color : -fx-bg-1 ;
-fx-background-image : null  ;
}

.subtitle {
	-fx-font-size: 30px;
	-fx-font-family:"arial black";
    -fx-fill: -fx-text-1;
}

.title {
	-fx-font-size: 50px;
	-fx-font-family:"arial black";
	-fx-padding: 6, 0, 0, 0;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  -fx-bg-1; 
}

.table-view .column-header .label{
   -fx-text-fill: -fx-text-1;
   -fx-font-size: 20px;
   -fx-font-weight: bold; 
   -fx-alignment: CENTER_LEFT;
   -fx-padding: 0,15,0,15;
}

.table-view .cell{
  -fx-cell-size: 35;
  -fx-alignment: center-left;
  -fx-background-color: -fx-bg-1;
  -fx-border-color: -fx-bg-1;
  -fx-text-fill: -fx-text-1;
  -fx-alignment: CENTER_LEFT;
   
}

.table-row-cell:selected {
   -fx-background-color: -fx-textHover; 
   -fx-text-background-color:  -fx-primary;    
}

.widget {
  -fx-background-color: -fx-bg-2;
  -fx-border-color: -fx-bg-2;
  -fx-border-width: 0px;
  -fx-padding: 10px;
}