* {
   -fx-primary: #2D327D;
   -fx-primaryHover: #191964;
   -fx-primary-half: #D5D6E5;
   -fx-text-1: #000000;
   -fx-text-2: #FFFFFF;
   -fx-secondary: #CCCCCC;
   -fx-secondaryHover: #BDBDBD;
   -fx-bg-1: #FFFFFF;
   -fx-bg-2: #E5E5E5;
   -fx-bg-3: #CCCCCC;
   -fx-bg-4: #B7B7B7;
   -fx-contrast: #8D8D8D;
   -fx-contrastHover: #686868;
   -fx-textHover: -fx-bg-2;
   -fx-red: #A20013;
   -fx-success: #ace1af;
   -fx-text-success: #059033;
}

.root{
    -fx-font-size: 18pt;
    -fx-font-family: "arial";
}

.text-field {
-fx-background-color: -fx-bg-1;
-fx-background-radius: 0;
-fx-border-color: -fx-contrast;
-fx-border-width: 3px;
-fx-font-size: 22px;
}

.text-field:hover {
-fx-background-color: -fx-textHover;
-fx-background-radius: 0;
-fx-border-color: -fx-contrastHover;
-fx-border-width: 3px;
}

.text-map{
	-fx-font-size: 30px;
}

.background {
	-fx-background-color: -fx-bg-1;
}

.btn-back {
	-fx-background-color: -fx-bg-4;
	-fx-font-size: 25px;
    -fx-fill: -fx-text-1;
	-fx-background-radius: 0;
}

.btn-back:hover {
	-fx-background-color: -fx-bg-3;
	-fx-font-size: 25px;
    -fx-fill: -fx-text-1;
	-fx-background-radius: 0;
	-fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
    /*-fx-effect: dropshadow(gaussian, -fx-bg-4, 30, 0.0, 0, 0);*/
}

.btn-primary {
	-fx-background-color: -fx-primary;
	-fx-font-size: 25px;
	-fx-font-weight: 400;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
}

.btn-primary:hover {
	/*-fx-background-color: -fx-primaryHover;*/
	-fx-font-size: 25px;
	-fx-font-weight: 400;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(gaussian, -fx-primary, 10, 0.0, 0, 0);
}

.btn-secondary {
	-fx-background-color: -fx-secondary;
	-fx-font-size: 25px;
    -fx-fill: -fx-text-1;
	-fx-background-radius: 0;
}

.btn-secondary:hover {
	-fx-background-color: -fx-secondaryHover;
	-fx-font-size: 25px;
    -fx-fill: -fx-text-1;
	-fx-background-radius: 0;
    -fx-effect: dropshadow(gaussian, -fx-secondary, 10, 0.0, 0, 0);
}

.btn-danger {
	-fx-background-color: -fx-red;
	-fx-font-size: 25px;
	-fx-font-weight: 400;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-alignment: center;
}

.btn-danger:hover {
	/*-fx-background-color: -fx-primaryHover;*/
	-fx-font-size: 25px;
	-fx-font-weight: 400;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-effect: dropshadow(gaussian, -fx-red, 10, 0.0, 0, 0);
}

.btn-language-false {
	-fx-background-color: -fx-bg-1;
	-fx-font-size: 20px;
	-fx-font-weight: 700;
    -fx-text-fill: -fx-primary;
    -fx-background-radius: 0;
    -fx-border-color:-fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.btn-language-false:hover{
	-fx-background-color: -fx-primary-half;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: 700;
    -fx-text-fill: -fx-primary;
    -fx-background-radius: 0;
    -fx-border-color:-fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.btn-language-true {
	-fx-background-color: -fx-primary;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: 700;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-border-color:-fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.btn-language-true:hover {
	-fx-background-color: -fx-primary;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: 700;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.btn-currency-false {
	-fx-background-color: -fx-bg-1;
	-fx-font-size: 20px;
	-fx-font-weight: 400;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-primary;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary;
    -fx-border-width: 2;
    -fx-border-insets: 0px;
    
}

.btn-currency-false:hover{
	-fx-background-color: -fx-primary-half;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: 400;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-primary;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary;
    -fx-border-width: 3;
    -fx-border-insets: 0px;    
}

.btn-currency-true {
	-fx-background-color: -fx-primary;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: 700;
    -fx-text-alignment: center;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.btn-currency-true:hover {
	-fx-background-color: -fx-primary;
	-fx-background-insets: 0;
	-fx-font-size: 20px;
	-fx-font-weight: 700;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
    -fx-border-color: -fx-primary;
    -fx-border-width: 0;
    -fx-border-insets: 0px;
}

.box-failed{
	-fx-background-color: -fx-primary;
	-fx-text-fill: -fx-text-2;
    -fx-border-color: -fx-primary;
    -fx-border-width: 0;
}

.box-success{
	-fx-background-color: -fx-success;
	-fx-text-fill: -fx-text-success;
    -fx-border-color: -fx-text-success;
    -fx-border-width: 0;
}

.date-picker {
    -fx-background-color:-fx-bg-1;
}

.date-picker .spinner {
    -fx-background-color: transparent;
}

.date-picker .spinner .button {
    -fx-background-color: transparent;
}

.date-picker .spinner .button:hover {
    -fx-background-color: -fx-bg-3;
}

.date-picker .date-cell {
    -fx-background-color: transparent;
    -fx-border-width: 0px;
    -fx-padding: 0;
    -fx-opacity: 1.0;
}

.date-picker .week-number-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-width: 0px;
    -fx-background-color: -fx-bg-1;
    -fx-text-fill: -fx-primary;
    -fx-font-weight: 600;
}

.date-picker .day-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-width: 0px;
    -fx-font-size: 1em;
    -fx-background-color: -fx-bg-1;
    -fx-text-fill: -fx-text-1;
}

.date-picker .day-cell:hover {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-width: 0px;
    -fx-font-size: 1em;
    -fx-background-color: -fx-bg-2;
    -fx-text-fill: -fx-text-1;
}

.date-picker .today {
    -fx-background-color: -fx-primary;
    -fx-text-fill: -fx-text-2;
}

.dialog-pane .button {
	-fx-background-color: -fx-primary;
	-fx-font-size: 20px;
	-fx-font-weight: 400;
    -fx-text-fill: -fx-text-2;
    -fx-background-radius: 0;
}

.btn-maps {
	-fx-background-color: -fx-secondary;
	-fx-font-size: 25px;
    -fx-background-radius: 0;
}

.btn-maps:hover {
	-fx-background-color: -fx-secondaryHover;
	-fx-font-size: 25px;
    -fx-background-radius: 0;
}

.dialog-grid {

}

.dialog-title {
	-fx-font-size: 15px;
}

.dialog-pane {
    -fx-background-color: -fx-bg-1;
}

.dialog-pane .label {
    -fx-text-fill: -fx-text-1;
    -fx-font-size: 18px;
}

.dialog-pane:header .header-panel {
    -fx-background-color: -fx-text-2;
}

.dialog-pane:header .header-panel .label {
    -fx-font-style: italic;
    -fx-font-size: 35px;
}

.dialog-text {
	-fx-font-size: 18px;
}

.menutile {
	-fx-background-color: -fx-secondary;
	-fx-background-radius: 0;
}

.menutile:hover {
	-fx-background-color: -fx-secondaryHover;
	-fx-background-radius: 0;
}

.menutile-language {
	-fx-background-color: -fx-bg-1;
	-fx-background-radius: 0;
}

.menutile-exit {
	-fx-background-color: -fx-secondary;
	-fx-background-radius: 0;
	-fx-text-fill: -fx-red;
}

.menutile-exit:hover {
	-fx-background-color: -fx-red;
	-fx-background-radius: 0;
	-fx-text-fill: -fx-text-2;
}

.menutitle {
	-fx-background-color: -fx-bg-1;
	-fx-background-radius: 0;
	-fx-font-size: 40px;
}

.radio-button .radio{
-fx-border-width     : 3px   ;
-fx-border-color     : -fx-contrast;
-fx-background-color : -fx-bg-1 ;
-fx-background-image : null  ;
-fx-border-radius    : 15px  ;
-fx-padding			 : 5px	 ;
}

.radio-button .dot {
  -fx-mark-highlight-color: -fx-primary ;
  -fx-mark-color: -fx-primary ;
}

.radio-button .radio:selected{
-fx-background-color : -fx-bg-1 ;
-fx-background-image : null  ;
}

.radio-button -radio:armed{
-fx-background-color : -fx-bg-1 ;
-fx-background-image : null  ;
}

.radio-button -radio:determinate{
-fx-background-color : -fx-bg-1 ;
-fx-background-image : null  ;
}

.dialog-btn-secondary {
	-fx-background-color: -fx-secondary;
	-fx-font-size: 20px;
    -fx-fill: -fx-text-1;
	-fx-background-radius: 0;
}

.radio-button -radio:indeterminate{
-fx-background-color : -fx-bg-1 ;
-fx-background-image : null  ;
}

.result-detail-text{
	-fx-font-size: 18px;
}

.subtitle {
	-fx-font-size: 30px;
	-fx-font-weight: 700;
    -fx-text-fill: -fx-text-1;
}

.title {
	-fx-font-size: 50px;
	-fx-font-weight: 900;
	-fx-padding: 6, 0, 0, 0;
}

.scroll-pane {
    -fx-background-color: white;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.3;
}

.increment-button, .decrement-button:hover {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0.6;
}

.searchresult{
	-fx-text-size: 16px;
	-fx-text-fill: -fx-text-1;
	-fx-background-color: transparent;
}

.searchresult:hover{
	-fx-text-size: 16px;
	-fx-text-fill: -fx-primary;
}

.scroll-bar{
	-fx-background-color: transparent;
}
.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-primary;
    -fx-opacity: 0.5;
    -fx-background-radius: 5em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: -fx-primary;
    -fx-opacity: 0.6;
    -fx-background-radius: 5em;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  -fx-bg-1; 
}

.table-view .column-header .label{
   -fx-text-fill: -fx-text-1;
   -fx-font-size: 20px;
   -fx-font-weight: 700; 
   -fx-alignment: CENTER_LEFT;
   -fx-padding: 0,15,0,15;
}

.table-view .cell{
  -fx-cell-size: 35;
  -fx-alignment: center-left;
  -fx-background-color: -fx-bg-1;
  -fx-border-color: -fx-bg-1;
  -fx-text-fill: -fx-text-1;
  -fx-alignment: CENTER_LEFT;
   
}

.table-row-cell:selected {
   -fx-background-color: -fx-textHover; 
   -fx-text-background-color:  -fx-primary;    
}

.panel-dark {
 	-fx-background-color: -fx-bg-3;
 	-fx-border-color: -fx-bg-3;
 	-fx-border-width: 0px;
 	-fx-padding: 10px;
}

.widget {
  -fx-background-color: -fx-bg-2;
  -fx-border-color: -fx-bg-2;
  -fx-border-width: 0px;
  -fx-padding: 10px;
}
